h1 {
  font-family:"Comic Sans MS", cursive, sans-serif;
  color: #FFFF00;
}

h3 {
  font-family:"Comic Sans MS", cursive, sans-serif;
  color: #39ff14;
}

body{
  background-image: url("https://i.imgur.com/KWTryeP.gif");
  background-color: #ff69b4;
}

.list-item{
  font-family: monospace;
}
.list-ite{
  font-family: monospace;
  color: #FFFF00;
}
#css-item {
  color: #FFFF00;
}
#goal-list {
  border-style: solid;
  border-color: #FFFF00;
  width: 30%;
}
#picture {
  width: 70%;
  float: right;
  border: : solid;
  border-color: grey beige white grey;
}
#new-goal {
  color: #FFFF00;
}
